<% if logged_in? %>
<%= p @user = current_user %>
<%= @user.name %>, <%= @user.email %>


<div id="map"></div>
<script>
      function initMap() {
        var cent = {lng:-75.5784 , lat: 6.2006};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: cent
        });

        <% @user.microposts.each do |micro| %>
        var pos = {lat: <%=micro.latitud%>, lng: <%=micro.longitud%>};
        var marker = new google.maps.Marker({
          position: pos,
          map: map
        });

        <% end %>
      }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD37p_imjtsqtMDMSrS_B4uNAAT0IDIwXU&callback=initMap">
</script>


<% else %>

<div class="center jumbotron">
  <h1>Yet Another Waze Application</h1>

  <h2>
    a basic application that does a similar function to Waze, enjoy your stay.
  </h2>

  <%= link_to "Sign up!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<% end %>
