<%= @user.name %>, <%= @user.email %>
<h1>Taking actual position</h1>

<h2>
  to see the map with different points go to Home page
</h2>

<table>
  <thead>
    <tr>
      <th>longitud</th>
      <th>latitud</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<% @user.microposts.each do |micro| %>
  <tr>
    <td><%= micro.longitud %></td>
    <td><%= micro.latitud %></td>
  </tr>
<% end %>
</table>

<%= @user.microposts.create(longitud:-75.5635900,latitud:6.2518400)%>
<div id="map"></div>
<script>
  // Note: This example requires that you consent to location sharing when
  // prompted by your browser. If you see the error "The Geolocation service
  // failed.", it means you probably did not give permission for the browser to
  // locate you.
  var map, infoWindow;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 6.2518400, lng: -75.5635900},
      zoom: 15
    });
    infoWindow = new google.maps.InfoWindow;

    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };



        infoWindow.open(map);
        var marker = new google.maps.Marker({
            position: pos,
            map: map
        });

        map.setCenter(pos);
      }, function() {
        handleLocationError(true, infoWindow, map.getCenter());
      });
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }
  }

  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(browserHasGeolocation ?
                          'Error: The Geolocation service failed.' :
                          'Error: Your browser doesn\'t support geolocation.');
    infoWindow.open(map);
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbFdhuFiX6hweFoD9P3L011CWEXIdfivM&callback=initMap"
    async defer></script>


</body>
