<p id="notice"><%= notice %></p>

<p>
  <strong>Longitud:</strong>
  <%= @micropost.longitud %>
</p>

<p>
  <strong>Latitud:</strong>
  <%= @micropost.latitud %>
</p>

<p>
  <strong>User:</strong>
  <%= @micropost.user_id %>
</p>

<%= link_to 'Edit', edit_micropost_path(@micropost) %> |
<%= link_to 'Back', microposts_path %>
